@model IEnumerable<GestaoMiniLoja.Data.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Sucesso"] != null || ViewData["Sucesso"] != null)
{
    var mensagem = TempData["Sucesso"] != null ? TempData["Sucesso"] : ViewData["Sucesso"];

    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <h4 id="msgRetorno">@Html.Raw(mensagem)</h4>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary"><spam class="fa fa-plus"></spam> Criar novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CaminhoDaImagem)
            </th>

            <th class ="text-end">
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>

            <th class="text-end">
                @Html.DisplayNameFor(model => model.QuantidadeEmEstoque)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CategoriaDeProduto)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CaminhoDaImagem)
            </td>

            <td class="text-end">
                @Html.DisplayFor(modelItem => item.PrecoUnitario)
            </td>

            <td class="text-end">
                @Html.DisplayFor(modelItem => item.QuantidadeEmEstoque)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CategoriaDeProduto.Descricao)
            </td>

            <td>
                <partial name="_AcoesDeItemDeListaPartial" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
