@model IEnumerable<GestaoMiniLoja.Core.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Sucesso"] != null || ViewData["Sucesso"] != null)
{
    var mensagem = TempData["Sucesso"] != null ? TempData["Sucesso"] : ViewData["Sucesso"];

    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-success">
        <h4 id="msgRetorno">@Html.Raw(mensagem)</h4>
    </div>
}

@if (TempData["Falha"] != null)
{
    <div style="padding-top: 15px"></div>

    <div id="msg_box" class="alert alert-danger">
        <h4 id="msgRetorno">@Html.Raw(TempData["Falha"])</h4>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary"><spam class="fa fa-plus"></spam> Nova categoria</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <partial name="_AcoesDeItemDeListaPartial" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
